{% extends 'base.html' %}
{% block content %}

<h3>Дорогие участники!</h3>

<p>Чтобы выставить наиболее объективную оценку, проверка ваших решений производится <strong>автоматически</strong> на
    наборе тестов, учитывающем различные варианты исходных данных.
</p>

<p>На входных данных для каждого теста запускается ваша программа, после чего система сравнивает выходные данные вашей
    программы с имеющимися у нее эталонными ответами и выносит решение об успешности прохождения теста. За пройденные
    тесты начисляется определенное количество баллов. Общее количество баллов за каждую задачу&nbsp;— 100. Если
    в условии
    задачи не оговорено специально иное, то баллы за каждый пройденный тест начисляются независимо.</p>

<p>Для корректного прохождения процедуры автоматизированного тестирования ваша программа должна
    <stong>строго</stong>
    соблюдать форматы входных и выходных данных, описанные в&nbsp;условии каждой задачи. В&nbsp;частности, не следует
    печатать
    никаких приглашений типа «Введите N:». После вывода ответа нельзя использовать функции, ожидающие нажатия клавиши
    (<code>readkey</code> / <code>_getch</code> / <code>pause</code>), иначе ваша программа будет снята как превысившая
    лимит
    времени на тест.
</p>

<p>Для ввода-вывода следует использовать стандартные потоки данных (чтение данных с клавиатуры, вывод на экран
    монитора). <b>Обратите внимание: чтение из файла/запись в&nbsp;файл НЕ ИСПОЛЬЗУЮТСЯ.</b>
</p>

<p>Все входные данные при проверке решений предполагаются корректными и удовлетворяющими всем ограничениям, указанным в
    условии задачи, то есть дополнительно проверять их корректность не нужно.</p>

<p>Максимальное время прохождения теста и максимальный объем используемой памяти&nbsp;— указаны в условиях задач.
    Если хотя бы один из этих лимитов превышен, решение считается неверным.</p>

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/prettify.js') }}"></script>
<script src="{{ url_for('static', filename='js/lang-pascal.js') }}"></script>
<script type="text/javascript">
		$(function () {
			prettyPrint();
		});



</script>
{% endblock %}