{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block body %}
<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <h1>Регистрация</h1>
            {% for error in errors %}
                <p class="alert alert-warning">{{ error }}</p>
            {% endfor %}
        <form method="post" role="form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <label for="username">Логин</label>
                <input id="username" required name="username" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input id="password" name="password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="confirm">Подтверждение пароля</label>
                <input id="confirm" name="confirm" type="password" class="form-control">
            </div>
            {% for key, attrs in settings['users_attributes'].items() %}
            <div class="form-group">
                <label for="id{{ key }}">{{ attrs.title }}</label>
                <input id="id{{ key }}" name="{{ key }}"
                {% if 'optional' not in attrs and attrs.type!='checkbox' %} required{% endif %}
                {% for attr in attrs %}
                    {% if attr not in ('title', 'optional') %} {{ attr }}="{{ attrs[attr] }}"{% endif %}
                {% endfor %}
                {% if attrs.type != 'checkbox' %} 
                    class="form-control" value="{{ data[key] }}">
                {% elif data[key]=='on' %}
                    checked
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock %}